@font-face {
    font-family: 'ComicShanns';
    src: url('fonts/ComicShannsMonoNerdFontMono-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ComicShanns';
    src: url('fonts/ComicShannsMonoNerdFontMono-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/back2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    padding: 30px 0px 8px 0px;
    justify-content: center;
    display: flex;
}

.header_logo-container {
    display: flex;
    justify-content: center;
}

.header_logo {
    width: auto;
}

/* ------------------ MAIN CONTENT SECTION -------------------*/

.grid_container {
    border-radius: 20px;
    overflow: hidden;
    font-family: 'ComicShanns', monospace;
    width: 85%;
    height: 134dvh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 200px 1fr 200px;
    grid-template-areas:
        "nav main aside";
}

/*-- GRID NAV --*/

.grid_nav {
    grid-area: nav;
    padding: 20px;
}

.grid_nav-picture {
    max-width: 100%;
    border: 10px solid transparent;
    border-image-source: url(borderme.gif);
    border-image-slice: 20;
    border-image-repeat: stretch;
}

/*-- GRID NAV ENDS --*/

/*-- GRID MAIN --*/

.grid_main {
    grid-area: main;
    background-color: #fff;
}

/*-- GRID MAIN ENDS --*/

/*-- GRID ASIDE --*/

.grid_aside {
    grid-area: aside;
}

/*-- GRID ASIDE ENDS --*/

/*-- GRID DECORATION --*/

.grid_nav, .grid_aside {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 
        inset 0  0.5px 0 rgba(255, 255, 255, 0.6),
        inset 0  -10px 20px rgba(255, 255, 255, 0.1),
        0 8px 32px 0 rgba(0, 0, 0, 0.15);
}

/*-- GRID DECORATION ENDS --*/